.background {
    position:fixed;
    width: 100%;
    height: 100%;
    background-image: url("../../Images/bach-ritterburg-1588647_1920.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;

}

.scrollcontainer{
    background-color:rgba(255,255,255,0.7);
    height:300px;
    overflow-y:scroll;
}

.scrollcontainer .list-group-item{
    background-color:rgba(255,255,255,0.0);
}

.sm-pd{
    padding-left: 5px;
    padding-right: 5px;
}

.no-pd{
    padding-left: 0px;
    padding-right: 5px;
}

#curtain{
    position: fixed;
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    z-index: 100;
}

#curtain p {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-group {
    margin-bottom: 0px;
    border-radius: 5px 5px;
}